.DS_Store
/.build
/Packages
/Sources/Data/*
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
lcov.info
Package.resolved
